# **Data Exploration**

In this notebook we'll look at one of the first elements involved in any data engineering project - getting to know what the inputs might look like.

This notebook was adapted from a Netflix data engineering workshop which you can find here: https://github.com/NFLX-WIBD/WIBD-Workshops-2018.


### Running Pyspark inÂ Colab

To run spark in Colab, we need to first install all the dependencies in Colab environment i.e. Apache Spark 2.3.2 with hadoop 2.7, Java 8 and Findspark to locate the spark in the system. The tools installation can be carried out inside the Jupyter Notebook of the Colab. Follow the steps to install the dependencies:

In [0]:
%%capture
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-3.0.0-preview2/spark-3.0.0-preview2-bin-hadoop3.2.tgz
!tar -xvf spark-3.0.0-preview2-bin-hadoop3.2.tgz  
!pip install -q findspark

Now that you installed Spark and Java in Colab, it is time to set the environment path which enables you to run Pyspark in your Colab environment. Set the location of Java and Spark by running the following code:

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-preview2-bin-hadoop3.2"

Run a local spark session to test your installation:

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

Congrats! Your Colab is ready to run Pyspark. Let's explore some data from the

In [4]:
!unzip data.zip

Archive:  data.zip
   creating: data/
  inflating: data/.DS_Store
   creating: __MACOSX/
   creating: __MACOSX/data/
  inflating: __MACOSX/data/._.DS_Store
  inflating: data/WDICountry.csv
  inflating: __MACOSX/data/._WDICountry.csv
  inflating: data/WDIData.csv
  inflating: __MACOSX/data/._WDIData.csv
  inflating: data/WDISeries.csv
  inflating: __MACOSX/data/._WDISeries.csv

### Step 1 - What inputs do you have?

> Indented block

In [5]:
!ls data

WDICountry.csv	WDIData.csv  WDISeries.csv

### Step 2 - Get your tools setup

As part of this we will be using [PySpark](http://spark.apache.org/docs/2.1.1/api/python/index.html) to inspect the data on hand and also gather some basic details.

In [0]:
import pandas as pd

from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
#Helper for pretty formatting for Spark DataFrames
def showDF(df, limitRows =  20, truncate = True):
    if(truncate):
        pd.set_option('display.max_colwidth', 50)
    else:
        pd.set_option('display.max_colwidth', -1)
    pd.set_option('display.max_rows', limitRows)
    display(df.limit(limitRows).toPandas())
    pd.reset_option('display.max_rows')

In [0]:
#Creating a spark session
spark = SparkSession.builder.appName("Data Exploration").getOrCreate()

### Step 3 - Look inside your data

We need to look at how our data is composed:
1. Format
2. Structure
3. Size
4. Dimensions

In this example our input is a CSV file with a header.  Let's try to see what the data looks like

#### Read The Data

In [0]:
#Read the file into a Spark Data Frame
country = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("data/WDICountry.csv")

#### Inspect the schema of the file you just read

In [10]:
country.printSchema()

root
 |-- Country Code: string (nullable = true)
 |-- Short Name: string (nullable = true)
 |-- Table Name: string (nullable = true)
 |-- Long Name: string (nullable = true)
 |-- 2-alpha code: string (nullable = true)
 |-- Currency Unit: string (nullable = true)
 |-- Special Notes: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Income Group: string (nullable = true)
 |-- WB-2 code: string (nullable = true)
 |-- National accounts base year: string (nullable = true)
 |-- National accounts reference year: integer (nullable = true)
 |-- SNA price valuation: string (nullable = true)
 |-- Lending category: string (nullable = true)
 |-- Other groups: string (nullable = true)
 |-- System of National Accounts: string (nullable = true)
 |-- Alternative conversion factor: string (nullable = true)
 |-- PPP survey year: string (nullable = true)
 |-- Balance of Payments Manual in use: string (nullable = true)
 |-- External debt Reporting status: string (nullable = true)
 |-- System of trade: string (nullable = true)
 |-- Government Accounting concept: string (nullable = true)
 |-- IMF data dissemination standard: string (nullable = true)
 |-- Latest population census: string (nullable = true)
 |-- Latest household survey: string (nullable = true)
 |-- Source of most recent Income and expenditure data: string (nullable = true)
 |-- Vital registration complete: string (nullable = true)
 |-- Latest agricultural census: string (nullable = true)
 |-- Latest industrial data: integer (nullable = true)
 |-- Latest trade data: integer (nullable = true)
 |-- Latest water withdrawal data: integer (nullable = true)

#### Take a look at some sample data

You can run <dataframe>.show() to look at the sample data.  However the output is not well formatted so we will use our helper function to look at the data.

In [11]:
showDF(country, truncate = False)

   Country Code  ... Latest water withdrawal data
0   ABW          ... NaN
1   AFG          ...  2000.0
2   AGO          ...  2005.0
3   ALB          ...  2006.0
4   AND          ... NaN
5   ARB          ... NaN
6   ARE          ...  2005.0
7   ARG          ... NaN
8   ARM          ...  2012.0
9   ASM          ... NaN
10  ATG          ...  2012.0
11  AUS          ...  2013.0
12  AUT          ...  2010.0
13  AZE          ...  2012.0
14  BDI          ...  2000.0
15  BEL          ...  2009.0
16  BEN          ...  2001.0
17  BFA          ...  2005.0
18  BGD          ...  2008.0
19  BGR          ...  2013.0

[20 rows x 31 columns]

#### Get Some Basic Stats

In [12]:
#Count the number of records in the dataframe
country.count()

263

#### Examining Dimensions
##### How many different regions do the various countries belong to ?

In [13]:
showDF(country.select('Region').distinct(), truncate = False)

                       Region
0  Latin America & Caribbean
1  South Asia
2  Sub-Saharan Africa
3  Europe & Central Asia
4  None
5  Middle East & North Africa
6  East Asia & Pacific
7  North America

##### How many different income groups do we have across countries?

In [14]:
showDF(country.select('Income Group').distinct(), truncate = False)

          Income Group
0  High income
1  Low income
2  Lower middle income
3  Upper middle income
4  None

#### By applying the same steps as we did for the "WDICountry.csv" dataset, we can see what the rest of the datasets look like

###### WDISeries.csv

In [0]:
series = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("data/WDISeries.csv")

In [16]:
series.printSchema()

root
 |-- Series Code: string (nullable = true)
 |-- Topic: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Short definition: string (nullable = true)
 |-- Long definition: string (nullable = true)
 |-- Unit of measure: string (nullable = true)
 |-- Periodicity: string (nullable = true)
 |-- Base Period: string (nullable = true)
 |-- Other notes: string (nullable = true)
 |-- Aggregation method: string (nullable = true)
 |-- Limitations and exceptions: string (nullable = true)
 |-- Notes from original source: string (nullable = true)
 |-- General comments: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Statistical concept and methodology: string (nullable = true)
 |-- Development relevance: string (nullable = true)
 |-- Related source links: string (nullable = true)
 |-- Other web links: string (nullable = true)
 |-- Related indicators: string (nullable = true)
 |-- License Type: string (nullable = true)
 |-- _c20: string (nullable = true)

In [17]:
showDF(series)

          Series Code                                 Topic  ... License Type  _c20
0      AG.AGR.TRAC.NO  Environment: Agricultural production  ...    CC BY-4.0  None
1   AG.CON.FERT.PT.ZS  Environment: Agricultural production  ...    CC BY-4.0  None
2      AG.CON.FERT.ZS  Environment: Agricultural production  ...    CC BY-4.0  None
3      AG.LND.AGRI.K2                 Environment: Land use  ...    CC BY-4.0  None
4      AG.LND.AGRI.ZS                 Environment: Land use  ...    CC BY-4.0  None
5      AG.LND.ARBL.HA                 Environment: Land use  ...    CC BY-4.0  None
6   AG.LND.ARBL.HA.PC                 Environment: Land use  ...    CC BY-4.0  None
7      AG.LND.ARBL.ZS                 Environment: Land use  ...    CC BY-4.0  None
8      AG.LND.CREL.HA  Environment: Agricultural production  ...    CC BY-4.0  None
9      AG.LND.CROP.ZS                 Environment: Land use  ...    CC BY-4.0  None
10  AG.LND.EL5M.RU.K2                 Environment: Land use  ...    CC BY-4.0  None
11  AG.LND.EL5M.RU.ZS                 Environment: Land use  ...    CC BY-4.0  None
12  AG.LND.EL5M.UR.K2                 Environment: Land use  ...    CC BY-4.0  None
13  AG.LND.EL5M.UR.ZS                 Environment: Land use  ...    CC BY-4.0  None
14     AG.LND.EL5M.ZS                 Environment: Land use  ...    CC BY-4.0  None
15     AG.LND.FRST.K2                 Environment: Land use  ...    CC BY-4.0  None
16     AG.LND.FRST.ZS                 Environment: Land use  ...    CC BY-4.0  None
17  AG.LND.IRIG.AG.ZS                 Environment: Land use  ...    CC BY-4.0  None
18     AG.LND.PRCP.MM                 Environment: Land use  ...    CC BY-4.0  None
19     AG.LND.TOTL.K2                 Environment: Land use  ...    CC BY-4.0  None

[20 rows x 21 columns]

In [18]:
series.count()

1593

#### Examining Dimensions
##### What are the different periodicities or aggregation methods we might expect to see in the data ?

In [19]:
showDF(series.select('Periodicity').distinct(), truncate = False)

                                                                                                   Periodicity
0  Annual
1  None
2  International Civil Aviation Organization, Civil Aviation Statistics of the World and ICAO staff estimates.
3  Quarterly (represented as Annual)

In [20]:
showDF(series.select('Aggregation Method').distinct(), truncate = False)

                    Aggregation Method
0  Sum
1  Weighted average
2  None
3  Weighted Average
4  Gap-filled total
5  Median
6  Unweighted average
7  Simple average
8  Linear mixed-effect model estimates

## Exercise

Repeat the same steps for the `WDIData.csv` file and read it into a dataframe called `indicators`.

In [21]:
# Read the data
indicators = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("data/WDIData.csv")

indicators.count()

420024

In [22]:
# Inspect the schema
indicators.printSchema()

root
 |-- Country Name: string (nullable = true)
 |-- Country Code: string (nullable = true)
 |-- Indicator Name: string (nullable = true)
 |-- Indicator Code: string (nullable = true)
 |-- 1960: double (nullable = true)
 |-- 1961: double (nullable = true)
 |-- 1962: double (nullable = true)
 |-- 1963: double (nullable = true)
 |-- 1964: double (nullable = true)
 |-- 1965: double (nullable = true)
 |-- 1966: double (nullable = true)
 |-- 1967: double (nullable = true)
 |-- 1968: double (nullable = true)
 |-- 1969: double (nullable = true)
 |-- 1970: double (nullable = true)
 |-- 1971: double (nullable = true)
 |-- 1972: double (nullable = true)
 |-- 1973: double (nullable = true)
 |-- 1974: double (nullable = true)
 |-- 1975: double (nullable = true)
 |-- 1976: double (nullable = true)
 |-- 1977: double (nullable = true)
 |-- 1978: double (nullable = true)
 |-- 1979: double (nullable = true)
 |-- 1980: double (nullable = true)
 |-- 1981: double (nullable = true)
 |-- 1982: double (nullable = true)
 |-- 1983: double (nullable = true)
 |-- 1984: double (nullable = true)
 |-- 1985: double (nullable = true)
 |-- 1986: double (nullable = true)
 |-- 1987: double (nullable = true)
 |-- 1988: double (nullable = true)
 |-- 1989: double (nullable = true)
 |-- 1990: double (nullable = true)
 |-- 1991: double (nullable = true)
 |-- 1992: double (nullable = true)
 |-- 1993: double (nullable = true)
 |-- 1994: double (nullable = true)
 |-- 1995: double (nullable = true)
 |-- 1996: double (nullable = true)
 |-- 1997: double (nullable = true)
 |-- 1998: double (nullable = true)
 |-- 1999: double (nullable = true)
 |-- 2000: double (nullable = true)
 |-- 2001: double (nullable = true)
 |-- 2002: double (nullable = true)
 |-- 2003: double (nullable = true)
 |-- 2004: double (nullable = true)
 |-- 2005: double (nullable = true)
 |-- 2006: double (nullable = true)
 |-- 2007: double (nullable = true)
 |-- 2008: double (nullable = true)
 |-- 2009: double (nullable = true)
 |-- 2010: double (nullable = true)
 |-- 2011: double (nullable = true)
 |-- 2012: double (nullable = true)
 |-- 2013: double (nullable = true)
 |-- 2014: double (nullable = true)
 |-- 2015: double (nullable = true)
 |-- 2016: double (nullable = true)
 |-- 2017: double (nullable = true)

In [23]:
# Look at sample records
showDF(indicators)

   Country Name Country Code  ...       2016       2017
0    Arab World          ARB  ...        NaN        NaN
1    Arab World          ARB  ...        NaN        NaN
2    Arab World          ARB  ...  84.570425        NaN
3    Arab World          ARB  ...  88.768654        NaN
4    Arab World          ARB  ...  78.743207        NaN
5    Arab World          ARB  ...  96.773284        NaN
6    Arab World          ARB  ...        NaN  37.165211
7    Arab World          ARB  ...        NaN  25.635403
8    Arab World          ARB  ...        NaN  48.328518
9    Arab World          ARB  ...        NaN  42.542046
10   Arab World          ARB  ...        NaN  27.724781
11   Arab World          ARB  ...        NaN  26.458111
12   Arab World          ARB  ...        NaN  43.446953
13   Arab World          ARB  ...        NaN  48.666977
14   Arab World          ARB  ...        NaN  20.954800
15   Arab World          ARB  ...        NaN        NaN
16   Arab World          ARB  ...        NaN        NaN
17   Arab World          ARB  ...        NaN        NaN
18   Arab World          ARB  ...        NaN        NaN
19   Arab World          ARB  ...  84.121437        NaN

[20 rows x 62 columns]

In [24]:
# Get some basic stats
indicators.count()

420024

# Data Transformation and Quality

### Step 4 - Transform the data

#### Transform the Country Dataset
- Select the columns that we will need for our data model
- Rename columns for data ingestion

We'll be using the various operations supported for a DataFrame.  You can view the complete list [here](http://spark.apache.org/docs/2.1.1/api/python/pyspark.sql.html#pyspark.sql.DataFrame) .

In [25]:
countryDim = country \
    .select("2-alpha code", "Country Code", "Short Name", "Long Name", "Region", "Income Group") \
    .withColumnRenamed("2-alpha code", "country_iso_code") \
    .withColumnRenamed("Country Code", "wb_country_code") \
    .withColumnRenamed("Short Name", "country_name") \
    .withColumnRenamed("Long Name", "country_long_name") \
    .withColumnRenamed("Region", "region") \
    .withColumnRenamed("Income Group", "income_group")
    
showDF(countryDim)

   country_iso_code  ...         income_group
0                AW  ...          High income
1                AF  ...           Low income
2                AO  ...  Lower middle income
3                AL  ...  Upper middle income
4                AD  ...          High income
5                1A  ...                 None
6                AE  ...          High income
7                AR  ...                 None
8                AM  ...  Lower middle income
9                AS  ...  Upper middle income
10               AG  ...          High income
11               AU  ...          High income
12               AT  ...          High income
13               AZ  ...  Upper middle income
14               BI  ...           Low income
15               BE  ...          High income
16               BJ  ...           Low income
17               BF  ...           Low income
18               BD  ...  Lower middle income
19               BG  ...  Upper middle income

[20 rows x 6 columns]

#### You can also do the similar transformations in sql
Let's rename the country_name and country_long_name columns

In [0]:
#Lets you create a view that you can use in SQL queries
countryDim.createOrReplaceTempView("country")

In [27]:
transformQuery = """
select 
    country_iso_code,
    wb_country_code,
    country_name as name,
    country_long_name as long_name,
    region,
    income_group
from 
    country
"""

showDF(spark.sql(transformQuery))

   country_iso_code  ...         income_group
0                AW  ...          High income
1                AF  ...           Low income
2                AO  ...  Lower middle income
3                AL  ...  Upper middle income
4                AD  ...          High income
5                1A  ...                 None
6                AE  ...          High income
7                AR  ...                 None
8                AM  ...  Lower middle income
9                AS  ...  Upper middle income
10               AG  ...          High income
11               AU  ...          High income
12               AT  ...          High income
13               AZ  ...  Upper middle income
14               BI  ...           Low income
15               BE  ...          High income
16               BJ  ...           Low income
17               BF  ...           Low income
18               BD  ...  Lower middle income
19               BG  ...  Upper middle income

[20 rows x 6 columns]

### Step 5 - Check the data quality

##### Do all countries have 2 character country_iso_codes ?

We will use some sql functions supported in PySpark for this exercise.  You can find a complete list of functions supported [here](http://spark.apache.org/docs/2.1.1/api/python/pyspark.sql.html#module-pyspark.sql.functions) .

In [28]:
countryCodeLength = countryDim.select(length("country_iso_code").alias("column_length")) \
    .groupBy("column_length") \
    .agg(count("*").alias("cnt")) \
    .filter("cnt > 1") 
showDF(countryCodeLength)

   column_length  cnt
0              2  262

In [29]:
#You can also do this in SQL
countryCodeLengthQuery = """
select 
    length(country_iso_code) as column_length,
    count(1) as cnt
from 
    country
group by 
    length(country_iso_code)
having 
    count(1) > 1
"""

showDF(spark.sql(countryCodeLengthQuery))

   column_length  cnt
0              2  262

## Quick Exercise
Do you notice a difference in the counts returned by the Quality check for the 2-character country_iso_code vs the original row count for the WDICountry.csv ?

In [0]:
# Paste your solution here
# The record counts are different 262 vs 263 and this is because one of the rows has a null country_iso_code

##### Do we have duplicate records for any of the key columns ?

In [31]:
showDF(countryDim.groupBy("country_iso_code").agg(count("*").alias("cnt")).filter("cnt > 1"))

showDF(countryDim.groupBy("wb_country_code").agg(count("*").alias("cnt")).filter("cnt > 1"))

showDF(countryDim.groupBy("country_name").agg(count("*").alias("cnt")).filter("cnt > 1"))

Empty DataFrame
Columns: [country_iso_code, cnt]
Index: []

Empty DataFrame
Columns: [wb_country_code, cnt]
Index: []

Empty DataFrame
Columns: [country_name, cnt]
Index: []

### Step 6 - Fix any issues with data quality

In [32]:
countryDimFinal = countryDim.filter("country_iso_code is not null")

showDF(countryDimFinal)

   country_iso_code  ...         income_group
0                AW  ...          High income
1                AF  ...           Low income
2                AO  ...  Lower middle income
3                AL  ...  Upper middle income
4                AD  ...          High income
5                1A  ...                 None
6                AE  ...          High income
7                AR  ...                 None
8                AM  ...  Lower middle income
9                AS  ...  Upper middle income
10               AG  ...          High income
11               AU  ...          High income
12               AT  ...          High income
13               AZ  ...  Upper middle income
14               BI  ...           Low income
15               BE  ...          High income
16               BJ  ...           Low income
17               BF  ...           Low income
18               BD  ...  Lower middle income
19               BG  ...  Upper middle income

[20 rows x 6 columns]

In [33]:
countryDimFinal.count()

262

### Step 7 - Write the data to the destination

In [0]:
# Here we are going to write the country dimension to an output csv file
countryDimFinal \
    .coalesce(1) \
    .write.csv('CountryDim', mode='overwrite', header='true')

### Step 8 - Check if the output was written out as expected

In [35]:
!cat CountryDim/*csv | head

country_iso_code,wb_country_code,country_name,country_long_name,region,income_group
AW,ABW,Aruba,Aruba,Latin America & Caribbean,High income
AF,AFG,Afghanistan,Islamic State of Afghanistan,South Asia,Low income
AO,AGO,Angola,People's Republic of Angola,Sub-Saharan Africa,Lower middle income
AL,ALB,Albania,Republic of Albania,Europe & Central Asia,Upper middle income
AD,AND,Andorra,Principality of Andorra,Europe & Central Asia,High income
1A,ARB,Arab World,Arab World,"",""
AE,ARE,United Arab Emirates,United Arab Emirates,Middle East & North Africa,High income
AR,ARG,Argentina,Argentine Republic,"",""
AM,ARM,Armenia,Republic of Armenia,Europe & Central Asia,Lower middle income

## Exercise

#### Transform the Series Dataset and make it available in the dataframe seriesDim
- Filter only for series that have Annual periodicity
- Get the following columns and rename the selected columns to prepare further processing  

| Name in CSV | Column Name |
| ------------- |:-------------:|
| Series Code | indicator_code |
| Indicator Name | indicator_name |
| Periodicity | periodicity |
| Aggregation Method | aggregation_method |


##### How many series do you end up with ?

In [36]:
#Your solution here
seriesDim = series \
    .select("Series Code", "Indicator Name", "Short Definition", "Periodicity", "Aggregation Method") \
    .withColumnRenamed("Series Code", "indicator_code") \
    .withColumnRenamed("Indicator Name", "indicator_name") \
    .withColumnRenamed("Periodicity", "periodicity") \
    .withColumnRenamed("Aggregation Method", "aggregation_method") \
    .filter(col("periodicity") == "Annual") 
    
showDF(seriesDim)

       indicator_code  ... aggregation_method
0      AG.AGR.TRAC.NO  ...                Sum
1   AG.CON.FERT.PT.ZS  ...   Weighted average
2      AG.CON.FERT.ZS  ...   Weighted average
3      AG.LND.AGRI.K2  ...                Sum
4      AG.LND.AGRI.ZS  ...   Weighted average
5      AG.LND.ARBL.HA  ...               None
6   AG.LND.ARBL.HA.PC  ...   Weighted Average
7      AG.LND.ARBL.ZS  ...   Weighted average
8      AG.LND.CREL.HA  ...                Sum
9      AG.LND.CROP.ZS  ...   Weighted average
10  AG.LND.EL5M.RU.K2  ...                Sum
11  AG.LND.EL5M.RU.ZS  ...   Weighted Average
12  AG.LND.EL5M.UR.K2  ...                Sum
13  AG.LND.EL5M.UR.ZS  ...   Weighted Average
14     AG.LND.EL5M.ZS  ...   Weighted Average
15     AG.LND.FRST.K2  ...                Sum
16     AG.LND.FRST.ZS  ...   Weighted average
17  AG.LND.IRIG.AG.ZS  ...   Weighted average
18     AG.LND.PRCP.MM  ...               None
19     AG.LND.TOTL.K2  ...                Sum

[20 rows x 5 columns]

In [37]:
seriesDim.count()

1587

#### What data quality checks were you able to perform ?

- Are there any duplicate codes ?
- Are all indicator_codes following the same pattern ?
- Is the case on columns consistent ?

### Complex Transformations
##### Problem Statement
We want to measure the cellular and broadband penetration in comparison to the population demographics for every country.  It'll also be helpful to get some insights on annual global aggregates.

###### Our dataset has multiple types of metrics.  The only ones that we care about are simple aggregates.

In [38]:
simpleAggIndicators = seriesDim \
    .filter("lower(aggregation_method) = 'sum'") \
    .select("indicator_code", "indicator_name") \
    .orderBy("indicator_code")

showDF(simpleAggIndicators, limitRows = 500, truncate = False)

           indicator_code                                                                                                       indicator_name
0    AG.AGR.TRAC.NO        Agricultural machinery, tractors
1    AG.LND.AGRI.K2        Agricultural land (sq. km)
2    AG.LND.CREL.HA        Land under cereal production (hectares)
3    AG.LND.EL5M.RU.K2     Rural land area where elevation is below 5 meters (sq. km)
4    AG.LND.EL5M.UR.K2     Urban land area where elevation is below 5 meters (sq. km)
5    AG.LND.FRST.K2        Forest area (sq. km)
6    AG.LND.TOTL.K2        Land area (sq. km)
7    AG.LND.TOTL.RU.K2     Rural land area (sq. km)
8    AG.LND.TOTL.UR.K2     Urban land area (sq. km)
9    AG.PRD.CREL.MT        Cereal production (metric tons)
10   AG.SRF.TOTL.K2        Surface area (sq. km)
11   BM.GSR.FCTY.CD        Primary income payments (BoP, current US$)
12   BM.GSR.ROYL.CD        Charges for the use of intellectual property, payments (BoP, current US$)
13   BM.KLT.DINV.CD.WD     Foreign direct investment, net outflows (BoP, current US$)
14   BM.TRF.PRVT.CD        Secondary income, other sectors, payments (BoP, current US$)
15   BM.TRF.PWKR.CD.DT     Personal remittances, paid (current US$)
16   BX.GRT.EXTA.CD.WD     Grants, excluding technical cooperation (BoP, current US$)
17   BX.GRT.TECH.CD.WD     Technical cooperation grants (BoP, current US$)
18   BX.GSR.CCIS.CD        ICT service exports (BoP, current US$)
19   BX.GSR.FCTY.CD        Primary income receipts (BoP, current US$)
20   BX.GSR.ROYL.CD        Charges for the use of intellectual property, receipts (BoP, current US$)
21   BX.KLT.DINV.CD.WD     Foreign direct investment, net inflows (BoP, current US$)
22   BX.KLT.DREM.CD.DT     Primary income on FDI (current US$)
23   BX.PEF.TOTL.CD.WD     Portfolio equity, net inflows (BoP, current US$)
24   BX.TRF.CURR.CD        Secondary income receipts (BoP, current US$)
25   BX.TRF.PWKR.CD        Personal transfers, receipts (BoP, current US$)
26   BX.TRF.PWKR.CD.DT     Personal remittances, received (current US$)
27   CM.MKT.LCAP.CD        Market capitalization of listed domestic companies (current US$)
28   CM.MKT.LDOM.NO        Listed domestic companies, total
29   CM.MKT.TRAD.CD        Stocks traded, total value (current US$)
30   DC.DAC.AUSL.CD        Net bilateral aid flows from DAC donors, Australia (current US$)
31   DC.DAC.AUTL.CD        Net bilateral aid flows from DAC donors, Austria (current US$)
32   DC.DAC.BELL.CD        Net bilateral aid flows from DAC donors, Belgium (current US$)
33   DC.DAC.CANL.CD        Net bilateral aid flows from DAC donors, Canada (current US$)
34   DC.DAC.CECL.CD        Net bilateral aid flows from DAC donors, European Union institutions (current US$)
35   DC.DAC.CHEL.CD        Net bilateral aid flows from DAC donors, Switzerland (current US$)
36   DC.DAC.CZEL.CD        Net bilateral aid flows from DAC donors, Czech Republic (current US$)
37   DC.DAC.DEUL.CD        Net bilateral aid flows from DAC donors, Germany (current US$)
38   DC.DAC.DNKL.CD        Net bilateral aid flows from DAC donors, Denmark (current US$)
39   DC.DAC.ESPL.CD        Net bilateral aid flows from DAC donors, Spain (current US$)
40   DC.DAC.FINL.CD        Net bilateral aid flows from DAC donors, Finland (current US$)
41   DC.DAC.FRAL.CD        Net bilateral aid flows from DAC donors, France (current US$)
42   DC.DAC.GBRL.CD        Net bilateral aid flows from DAC donors, United Kingdom (current US$)
43   DC.DAC.GRCL.CD        Net bilateral aid flows from DAC donors, Greece (current US$)
44   DC.DAC.IRLL.CD        Net bilateral aid flows from DAC donors, Ireland (current US$)
45   DC.DAC.ISLL.CD        Net bilateral aid flows from DAC donors, Iceland (current US$)
46   DC.DAC.ITAL.CD        Net bilateral aid flows from DAC donors, Italy (current US$)
47   DC.DAC.JPNL.CD        Net bilateral aid flows from DAC donors, Japan (current US$)
48   DC.DAC.KORL.CD        Net bilateral aid flows from DAC donors, Korea, Rep. (current US$)
49   DC.DAC.LUXL.CD        Net bilateral aid flows from DAC donors, Luxembourg (current US$)
50   DC.DAC.NLDL.CD        Net bilateral aid flows from DAC donors, Netherlands (current US$)
51   DC.DAC.NORL.CD        Net bilateral aid flows from DAC donors, Norway (current US$)
52   DC.DAC.NZLL.CD        Net bilateral aid flows from DAC donors, New Zealand (current US$)
53   DC.DAC.POLL.CD        Net bilateral aid flows from DAC donors, Poland (current US$)
54   DC.DAC.PRTL.CD        Net bilateral aid flows from DAC donors, Portugal (current US$)
55   DC.DAC.SVKL.CD        Net bilateral aid flows from DAC donors, Slovak Republic (current US$)
56   DC.DAC.SVNL.CD        Net bilateral aid flows from DAC donors, Slovenia (current US$)
57   DC.DAC.SWEL.CD        Net bilateral aid flows from DAC donors, Sweden (current US$)
58   DC.DAC.TOTL.CD        Net bilateral aid flows from DAC donors, Total (current US$)
59   DC.DAC.USAL.CD        Net bilateral aid flows from DAC donors, United States (current US$)
60   DT.AMT.BLAT.CD        PPG, bilateral (AMT, current US$)
61   DT.AMT.BLTC.CD        PPG, bilateral concessional (AMT, current US$)
62   DT.AMT.DIMF.CD        IMF repurchases (AMT, current US$)
63   DT.AMT.DLTF.CD        Principal repayments on external debt, long-term + IMF (AMT, current US$)
64   DT.AMT.DLXF.CD        Principal repayments on external debt, long-term (AMT, current US$)
65   DT.AMT.DPNG.CD        Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)
66   DT.AMT.DPPG.CD        Principal repayments on external debt, public and publicly guaranteed (PPG) (AMT, current US$)
67   DT.AMT.MIBR.CD        PPG, IBRD (AMT, current US$)
68   DT.AMT.MIDA.CD        PPG, IDA (AMT, current US$)
69   DT.AMT.MLAT.CD        PPG, multilateral (AMT, current US$)
70   DT.AMT.MLTC.CD        PPG, multilateral concessional (AMT, current US$)
71   DT.AMT.OFFT.CD        PPG, official creditors (AMT, current US$)
72   DT.AMT.PBND.CD        PPG, bonds (AMT, current US$)
73   DT.AMT.PCBK.CD        PPG, commercial banks (AMT, current US$)
74   DT.AMT.PNGB.CD        PNG, bonds (AMT, current US$)
75   DT.AMT.PNGC.CD        PNG, commercial banks and other creditors (AMT, current US$)
76   DT.AMT.PROP.CD        PPG, other private creditors (AMT, current US$)
77   DT.AMT.PRVT.CD        PPG, private creditors (AMT, current US$)
78   DT.AXA.DPPG.CD        Principal arrears, public and publicly guaranteed (current US$)
79   DT.AXA.OFFT.CD        Principal arrears, official creditors (current US$)
80   DT.AXA.PRVT.CD        Principal arrears, private creditors (current US$)
81   DT.AXF.DPPG.CD        Principal forgiven (current US$)
82   DT.AXR.DPPG.CD        Principal rescheduled (current US$)
83   DT.AXR.OFFT.CD        Principal rescheduled, official (current US$)
84   DT.AXR.PRVT.CD        Principal rescheduled, private (current US$)
85   DT.COM.DPPG.CD        Commitments, public and publicly guaranteed (COM, current US$)
86   DT.COM.MIBR.CD        Commitments, IBRD (COM, current US$)
87   DT.COM.MIDA.CD        Commitments, IDA (COM, current US$)
88   DT.COM.OFFT.CD        Commitments, official creditors (COM, current US$)
89   DT.COM.PRVT.CD        Commitments, private creditors (COM, current US$)
90   DT.DFR.DPPG.CD        Debt forgiveness or reduction (current US$)
91   DT.DIS.BLAT.CD        PPG, bilateral (DIS, current US$)
92   DT.DIS.BLTC.CD        PPG, bilateral concessional (DIS, current US$)
93   DT.DIS.DIMF.CD        IMF purchases (DIS, current US$)
94   DT.DIS.DLTF.CD        Disbursements on external debt, long-term + IMF (DIS, current US$)
95   DT.DIS.DLXF.CD        Disbursements on external debt, long-term (DIS, current US$)
96   DT.DIS.DPNG.CD        Disbursements on external debt, private nonguaranteed (PNG) (DIS, current US$)
97   DT.DIS.DPPG.CD        Disbursements on external debt, public and publicly guaranteed (PPG) (DIS, current US$)
98   DT.DIS.IDAG.CD        IDA grants (current US$)
99   DT.DIS.MIBR.CD        PPG, IBRD (DIS, current US$)
100  DT.DIS.MIDA.CD        PPG, IDA (DIS, current US$)
101  DT.DIS.MLAT.CD        PPG, multilateral (DIS, current US$)
102  DT.DIS.MLTC.CD        PPG, multilateral concessional (DIS, current US$)
103  DT.DIS.OFFT.CD        PPG, official creditors (DIS, current US$)
104  DT.DIS.PBND.CD        PPG, bonds (DIS, current US$)
105  DT.DIS.PCBK.CD        PPG, commercial banks (DIS, current US$)
106  DT.DIS.PNGB.CD        PNG, bonds (DIS, current US$)
107  DT.DIS.PNGC.CD        PNG, commercial banks and other creditors (DIS, current US$)
108  DT.DIS.PROP.CD        PPG, other private creditors (DIS, current US$)
109  DT.DIS.PRVT.CD        PPG, private creditors (DIS, current US$)
110  DT.DOD.ALLC.CD        External debt stocks, concessional (DOD, current US$)
111  DT.DOD.BLAT.CD        PPG, bilateral (DOD, current US$)
112  DT.DOD.BLTC.CD        PPG, bilateral concessional (DOD, current US$)
113  DT.DOD.DECT.CD        External debt stocks, total (DOD, current US$)
114  DT.DOD.DECT.CD.CG     Total change in external debt stocks (current US$)
115  DT.DOD.DIMF.CD        Use of IMF credit (DOD, current US$)
116  DT.DOD.DLXF.CD        External debt stocks, long-term (DOD, current US$)
117  DT.DOD.DPNG.CD        External debt stocks, private nonguaranteed (PNG) (DOD, current US$)
118  DT.DOD.DPPG.CD        External debt stocks, public and publicly guaranteed (PPG) (DOD, current US$)
119  DT.DOD.DSTC.CD        External debt stocks, short-term (DOD, current US$)
120  DT.DOD.MDRI.CD        Debt forgiveness grants (current US$)
121  DT.DOD.MIBR.CD        PPG, IBRD (DOD, current US$)
122  DT.DOD.MIDA.CD        PPG, IDA (DOD, current US$)
123  DT.DOD.MLAT.CD        PPG, multilateral (DOD, current US$)
124  DT.DOD.MLTC.CD        PPG, multilateral concessional (DOD, current US$)
125  DT.DOD.MWBG.CD        IBRD loans and IDA credits (DOD, current US$)
126  DT.DOD.OFFT.CD        PPG, official creditors (DOD, current US$)
127  DT.DOD.PBND.CD        PPG, bonds (DOD, current US$)
128  DT.DOD.PCBK.CD        PPG, commercial banks (DOD, current US$)
129  DT.DOD.PNGB.CD        PNG, bonds (DOD, current US$)
130  DT.DOD.PNGC.CD        PNG, commercial banks and other creditors (DOD, current US$)
131  DT.DOD.PROP.CD        PPG, other private creditors (DOD, current US$)
132  DT.DOD.PRVS.CD        External debt stocks, long-term private sector (DOD, current US$)
133  DT.DOD.PRVT.CD        PPG, private creditors (DOD, current US$)
134  DT.DOD.PUBS.CD        External debt stocks, long-term public sector (DOD, current US$)
135  DT.DOD.PVLX.CD        Present value of external debt (current US$)
136  DT.DOD.RSDL.CD        Residual, debt stock-flow reconciliation (current US$)
137  DT.DOD.VTOT.CD        External debt stocks, variable rate (DOD, current US$)
138  DT.DSB.DPPG.CD        Debt buyback (current US$)
139  DT.DSF.DPPG.CD        Debt stock reduction (current US$)
140  DT.DXR.DPPG.CD        Debt stock rescheduled (current US$)
141  DT.INT.BLAT.CD        PPG, bilateral (INT, current US$)
142  DT.INT.BLTC.CD        PPG, bilateral concessional (INT, current US$)
143  DT.INT.DECT.CD        Interest payments on external debt, total (INT, current US$)
144  DT.INT.DIMF.CD        IMF charges (INT, current US$)
145  DT.INT.DLXF.CD        Interest payments on external debt, long-term (INT, current US$)
146  DT.INT.DPNG.CD        Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)
147  DT.INT.DPPG.CD        Interest payments on external debt, public and publicly guaranteed (PPG) (INT, current US$)
148  DT.INT.DSTC.CD        Interest payments on external debt, short-term (INT, current US$)
149  DT.INT.MIBR.CD        PPG, IBRD (INT, current US$)
150  DT.INT.MIDA.CD        PPG, IDA (INT, current US$)
151  DT.INT.MLAT.CD        PPG, multilateral (INT, current US$)
152  DT.INT.MLTC.CD        PPG, multilateral concessional (INT, current US$)
153  DT.INT.OFFT.CD        PPG, official creditors (INT, current US$)
154  DT.INT.PBND.CD        PPG, bonds (INT, current US$)
155  DT.INT.PCBK.CD        PPG, commercial banks (INT, current US$)
156  DT.INT.PNGB.CD        PNG, bonds (INT, current US$)
157  DT.INT.PNGC.CD        PNG, commercial banks and other creditors (INT, current US$)
158  DT.INT.PROP.CD        PPG, other private creditors (INT, current US$)
159  DT.INT.PRVT.CD        PPG, private creditors (INT, current US$)
160  DT.IXA.DPPG.CD        Interest arrears, public and publicly guaranteed (current US$)
161  DT.IXA.DPPG.CD.CG     Net change in interest arrears (current US$)
162  DT.IXA.OFFT.CD        Interest arrears, official creditors (current US$)
163  DT.IXA.PRVT.CD        Interest arrears, private creditors (current US$)
164  DT.IXF.DPPG.CD        Interest forgiven (current US$)
165  DT.IXR.DPPG.CD        Interest rescheduled (capitalized) (current US$)
166  DT.IXR.OFFT.CD        Interest rescheduled, official (current US$)
167  DT.IXR.PRVT.CD        Interest rescheduled, private (current US$)
168  DT.NFL.BLAT.CD        Net financial flows, bilateral (NFL, current US$)
169  DT.NFL.BLTC.CD        PPG, bilateral concessional (NFL, current US$)
170  DT.NFL.BOND.CD        Portfolio investment, bonds (PPG + PNG) (NFL, current US$)
171  DT.NFL.DECT.CD        Net flows on external debt, total (NFL, current US$)
172  DT.NFL.DLXF.CD        Net flows on external debt, long-term (NFL, current US$)
173  DT.NFL.DPNG.CD        Net flows on external debt, private nonguaranteed (PNG) (NFL, current US$)
174  DT.NFL.DPPG.CD        Net flows on external debt, public and publicly guaranteed (PPG) (NFL, current US$)
175  DT.NFL.DSTC.CD        Net flows on external debt, short-term (NFL, current US$)
176  DT.NFL.FAOG.CD        Net official flows from UN agencies, FAO (current US$)
177  DT.NFL.IAEA.CD        Net official flows from UN agencies, IAEA (current US$)
178  DT.NFL.IFAD.CD        Net official flows from UN agencies, IFAD (current US$)
179  DT.NFL.ILOG.CD        Net official flows from UN agencies, ILO (current US$)
180  DT.NFL.IMFC.CD        Net financial flows, IMF concessional (NFL, current US$)
181  DT.NFL.IMFN.CD        Net financial flows, IMF nonconcessional (NFL, current US$)
182  DT.NFL.MIBR.CD        Net financial flows, IBRD (NFL, current US$)
183  DT.NFL.MIDA.CD        Net financial flows, IDA (NFL, current US$)
184  DT.NFL.MLAT.CD        Net financial flows, multilateral (NFL, current US$)
185  DT.NFL.MLTC.CD        PPG, multilateral concessional (NFL, current US$)
186  DT.NFL.MOTH.CD        Net financial flows, others (NFL, current US$)
187  DT.NFL.NEBR.CD        EBRD, private nonguaranteed (NFL, current US$)
188  DT.NFL.NIFC.CD        IFC, private nonguaranteed (NFL, current US$)
189  DT.NFL.OFFT.CD        PPG, official creditors (NFL, current US$)
190  DT.NFL.PBND.CD        PPG, bonds (NFL, current US$)
191  DT.NFL.PCBK.CD        PPG, commercial banks (NFL, current US$)
192  DT.NFL.PCBO.CD        Commercial banks and other lending (PPG + PNG) (NFL, current US$)
193  DT.NFL.PNGB.CD        PNG, bonds (NFL, current US$)
194  DT.NFL.PNGC.CD        PNG, commercial banks and other creditors (NFL, current US$)
195  DT.NFL.PROP.CD        PPG, other private creditors (NFL, current US$)
196  DT.NFL.PRVT.CD        PPG, private creditors (NFL, current US$)
197  DT.NFL.RDBC.CD        Net financial flows, RDB concessional (NFL, current US$)
198  DT.NFL.RDBN.CD        Net financial flows, RDB nonconcessional (NFL, current US$)
199  DT.NFL.UNAI.CD        Net official flows from UN agencies, UNAIDS (current US$)
200  DT.NFL.UNCF.CD        Net official flows from UN agencies, UNICEF (current US$)
201  DT.NFL.UNCR.CD        Net official flows from UN agencies, UNHCR (current US$)
202  DT.NFL.UNDP.CD        Net official flows from UN agencies, UNDP (current US$)
203  DT.NFL.UNEC.CD        Net official flows from UN agencies, UNECE (current US$)
204  DT.NFL.UNFP.CD        Net official flows from UN agencies, UNFPA (current US$)
205  DT.NFL.UNPB.CD        Net official flows from UN agencies, UNPBF (current US$)
206  DT.NFL.UNRW.CD        Net official flows from UN agencies, UNRWA (current US$)
207  DT.NFL.UNTA.CD        Net official flows from UN agencies, UNTA (current US$)
208  DT.NFL.WFPG.CD        Net official flows from UN agencies, WFP (current US$)
209  DT.NFL.WHOL.CD        Net official flows from UN agencies, WHO (current US$)
210  DT.NTR.BLAT.CD        PPG, bilateral (NTR, current US$)
211  DT.NTR.BLTC.CD        PPG, bilateral concessional (NTR, current US$)
212  DT.NTR.DECT.CD        Net transfers on external debt, total (NTR, current US$)
213  DT.NTR.DLXF.CD        Net transfers on external debt, long-term (NTR, current US$)
214  DT.NTR.DPNG.CD        Net transfers on external debt, private nonguaranteed (PNG) (NTR, current US$)
215  DT.NTR.DPPG.CD        Net transfers on external debt, public and publicly guaranteed (PPG) (NTR, current US$)
216  DT.NTR.MIBR.CD        PPG, IBRD (NTR, current US$)
217  DT.NTR.MIDA.CD        PPG, IDA (NTR, current US$)
218  DT.NTR.MLAT.CD        PPG, multilateral (NTR, current US$)
219  DT.NTR.MLTC.CD        PPG, multilateral concessional (NTR, current US$)
220  DT.NTR.OFFT.CD        PPG, official creditors (NTR, current US$)
221  DT.NTR.PBND.CD        PPG, bonds (NTR, current US$)
222  DT.NTR.PCBK.CD        PPG, commercial banks (NTR, current US$)
223  DT.NTR.PNGB.CD        PNG, bonds (NTR, current US$)
224  DT.NTR.PNGC.CD        PNG, commercial banks and other creditors (NTR, current US$)
225  DT.NTR.PROP.CD        PPG, other private creditors (NTR, current US$)
226  DT.NTR.PRVT.CD        PPG, private creditors (NTR, current US$)
227  DT.ODA.ALLD.CD        Net official development assistance and official aid received (current US$)
228  DT.ODA.ALLD.KD        Net official development assistance and official aid received (constant 2013 US$)
229  DT.ODA.OATL.CD        Net official aid received (current US$)
230  DT.ODA.OATL.KD        Net official aid received (constant 2014 US$)
231  DT.ODA.ODAT.CD        Net official development assistance received (current US$)
232  DT.ODA.ODAT.KD        Net official development assistance received (constant 2014 US$)
233  DT.TDS.BLAT.CD        PPG, bilateral (TDS, current US$)
234  DT.TDS.BLTC.CD        PPG, bilateral concessional (TDS, current US$)
235  DT.TDS.DECT.CD        Debt service on external debt, total (TDS, current US$)
236  DT.TDS.DIMF.CD        IMF repurchases and charges (TDS, current US$)
237  DT.TDS.DLXF.CD        Debt service on external debt, long-term (TDS, current US$)
238  DT.TDS.DPNG.CD        Debt service on external debt, private nonguaranteed (PNG) (TDS, current US$)
239  DT.TDS.DPPG.CD        Debt service on external debt, public and publicly guaranteed (PPG) (TDS, current US$)
240  DT.TDS.MIBR.CD        PPG, IBRD (TDS, current US$)
241  DT.TDS.MIDA.CD        PPG, IDA (TDS, current US$)
242  DT.TDS.MLAT.CD        Multilateral debt service (TDS, current US$)
243  DT.TDS.MLTC.CD        PPG, multilateral concessional (TDS, current US$)
244  DT.TDS.OFFT.CD        PPG, official creditors (TDS, current US$)
245  DT.TDS.PBND.CD        PPG, bonds (TDS, current US$)
246  DT.TDS.PCBK.CD        PPG, commercial banks (TDS, current US$)
247  DT.TDS.PNGB.CD        PNG, bonds (TDS, current US$)
248  DT.TDS.PNGC.CD        PNG, commercial banks and other creditors (TDS, current US$)
249  DT.TDS.PROP.CD        PPG, other private creditors (TDS, current US$)
250  DT.TDS.PRVT.CD        PPG, private creditors (TDS, current US$)
251  DT.TXR.DPPG.CD        Total amount of debt rescheduled (current US$)
252  DT.UND.DPPG.CD        Undisbursed external debt, total (UND, current US$)
253  DT.UND.OFFT.CD        Undisbursed external debt, official creditors (UND, current US$)
254  DT.UND.PRVT.CD        Undisbursed external debt, private creditors (UND, current US$)
255  EG.ELC.RNWX.KH        Electricity production from renewable sources, excluding hydroelectric (kWh)

##### Only keep the indicators that are relevant to requirements i.e. Population indicators and Cellular and Broadband penetration

In [39]:
targetIndicators = simpleAggIndicators \
    .filter("lower(indicator_name) like '%population%total%' " + 
            " or lower(indicator_name) like '%cellular%' " +
            " or lower(indicator_name) like '%broadband%'") \
    .filter("lower(indicator_name) not like '%refugee%'")

showDF(targetIndicators)

   indicator_code                       indicator_name
0     IT.CEL.SETS        Mobile cellular subscriptions
1     IT.NET.BBND        Fixed broadband subscriptions
2  SP.POP.0014.TO          Population ages 0-14, total
3  SP.POP.1564.TO         Population ages 15-64, total
4  SP.POP.65UP.TO  Population ages 65 and above, total
5     SP.POP.TOTL                    Population, total

##### Now that we have identified the various indicators of interest, we can continue with getting the metrics for these indicators

In [0]:
# Keep the columns that are relevant for further transformations
indicatorsData = indicators \
    .withColumnRenamed("Indicator Code", "indicator_code") \
    .withColumnRenamed("Country Code", "wb_country_code") \
    .drop("Indicator Name") \
    .drop("Country Name") \
    .drop("_c62")

In [0]:
#Keep only the indicators that we care about
targetIndicatorsData = indicatorsData.join(targetIndicators \
                                         , indicatorsData.indicator_code == targetIndicators.indicator_code) \
    .drop(targetIndicators.indicator_code)

In [42]:
showDF(targetIndicatorsData)

   wb_country_code  indicator_code  ...  2017                       indicator_name
0              ARB     IT.NET.BBND  ...   NaN        Fixed broadband subscriptions
1              ARB     IT.CEL.SETS  ...   NaN        Mobile cellular subscriptions
2              ARB  SP.POP.0014.TO  ...   NaN          Population ages 0-14, total
3              ARB  SP.POP.1564.TO  ...   NaN         Population ages 15-64, total
4              ARB  SP.POP.65UP.TO  ...   NaN  Population ages 65 and above, total
5              ARB     SP.POP.TOTL  ...   NaN                    Population, total
6              CSS     IT.NET.BBND  ...   NaN        Fixed broadband subscriptions
7              CSS     IT.CEL.SETS  ...   NaN        Mobile cellular subscriptions
8              CSS  SP.POP.0014.TO  ...   NaN          Population ages 0-14, total
9              CSS  SP.POP.1564.TO  ...   NaN         Population ages 15-64, total
10             CSS  SP.POP.65UP.TO  ...   NaN  Population ages 65 and above, total
11             CSS     SP.POP.TOTL  ...   NaN                    Population, total
12             CEB     IT.NET.BBND  ...   NaN        Fixed broadband subscriptions
13             CEB     IT.CEL.SETS  ...   NaN        Mobile cellular subscriptions
14             CEB  SP.POP.0014.TO  ...   NaN          Population ages 0-14, total
15             CEB  SP.POP.1564.TO  ...   NaN         Population ages 15-64, total
16             CEB  SP.POP.65UP.TO  ...   NaN  Population ages 65 and above, total
17             CEB     SP.POP.TOTL  ...   NaN                    Population, total
18             EAR     IT.NET.BBND  ...   NaN        Fixed broadband subscriptions
19             EAR     IT.CEL.SETS  ...   NaN        Mobile cellular subscriptions

[20 rows x 61 columns]

#### The output that we see currently isn't the most ideal from a modeling perspective.  
A well-modeled dataset should allow for data to be easily augmented.  E.g. instead of having a column for each year (wide format), we would prefer a row for each year (long format). This allows us to easily add more rows in the future. This wide-to-long transformation is also a common preprocessing step when building models.

We want something similar to the output of the following code block:

In [43]:
indicatorsSample = targetIndicatorsData \
    .select(col("wb_country_code"),
            col("indicator_code"),
            lit("1960").alias("year"),
            col("1960").alias("indicator_value")) \
    .filter("indicator_value >= 0.0")

showDF(indicatorsSample)

   wb_country_code  indicator_code  year  indicator_value
0              ARB     IT.CEL.SETS  1960              0.0
1              ARB  SP.POP.0014.TO  1960       40064255.0
2              ARB  SP.POP.1564.TO  1960       49179481.0
3              ARB  SP.POP.65UP.TO  1960        3247196.0
4              ARB     SP.POP.TOTL  1960       92490932.0
5              CSS     IT.CEL.SETS  1960              0.0
6              CSS  SP.POP.0014.TO  1960        1766884.0
7              CSS  SP.POP.1564.TO  1960        2151060.0
8              CSS  SP.POP.65UP.TO  1960         169157.0
9              CSS     SP.POP.TOTL  1960        4198307.0
10             CEB     IT.CEL.SETS  1960              0.0
11             CEB  SP.POP.0014.TO  1960       26671149.0
12             CEB  SP.POP.1564.TO  1960       58135954.0
13             CEB  SP.POP.65UP.TO  1960        6594481.0
14             CEB     SP.POP.TOTL  1960       91401583.0
15             EAR     IT.CEL.SETS  1960              0.0
16             EAR  SP.POP.0014.TO  1960      403027249.0
17             EAR  SP.POP.1564.TO  1960      543753940.0
18             EAR  SP.POP.65UP.TO  1960       32506217.0
19             EAR     SP.POP.TOTL  1960      979287407.0

##### Let us start by getting the list of years that we have metrics for

In [44]:
yearList = [x for x in targetIndicatorsData.schema.names \
             if x != 'wb_country_code' and x != 'indicator_code' and x != 'indicator_name'] 

print(yearList)

['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

In [45]:
#Cheat for creating a dataframe with no rows 
indicatorsDF = indicatorsSample.filter('1 = 0')

#Iterate through the list of years and store the rows in the DataFrame we created above
for indicatorYear in yearList:
    print("Processing indicators for " + indicatorYear)
    yearIndicatorDF = targetIndicatorsData \
        .select(col("wb_country_code")
                , col("indicator_code")
                , lit(indicatorYear).alias("year")
                , col(indicatorYear).alias("indicator_value")) \
        .filter("indicator_value >= 0")
    indicatorsDF = indicatorsDF.union(yearIndicatorDF)

Processing indicators for 1960
Processing indicators for 1961
Processing indicators for 1962
Processing indicators for 1963
Processing indicators for 1964
Processing indicators for 1965
Processing indicators for 1966
Processing indicators for 1967
Processing indicators for 1968
Processing indicators for 1969
Processing indicators for 1970
Processing indicators for 1971
Processing indicators for 1972
Processing indicators for 1973
Processing indicators for 1974
Processing indicators for 1975
Processing indicators for 1976
Processing indicators for 1977
Processing indicators for 1978
Processing indicators for 1979
Processing indicators for 1980
Processing indicators for 1981
Processing indicators for 1982
Processing indicators for 1983
Processing indicators for 1984
Processing indicators for 1985
Processing indicators for 1986
Processing indicators for 1987
Processing indicators for 1988
Processing indicators for 1989
Processing indicators for 1990
Processing indicators for 1991
Processing indicators for 1992
Processing indicators for 1993
Processing indicators for 1994
Processing indicators for 1995
Processing indicators for 1996
Processing indicators for 1997
Processing indicators for 1998
Processing indicators for 1999
Processing indicators for 2000
Processing indicators for 2001
Processing indicators for 2002
Processing indicators for 2003
Processing indicators for 2004
Processing indicators for 2005
Processing indicators for 2006
Processing indicators for 2007
Processing indicators for 2008
Processing indicators for 2009
Processing indicators for 2010
Processing indicators for 2011
Processing indicators for 2012
Processing indicators for 2013
Processing indicators for 2014
Processing indicators for 2015
Processing indicators for 2016
Processing indicators for 2017

#### Let's cache the dataset to iterate over it

In [46]:
# You can iterate over a dataframe that is already computed by caching it once and using it repeatedly
indicatorsDF.cache()

#Force the data to be cached
indicatorsDF.count()

70303

In [47]:
#Check the indicator counts per year
showDF(indicatorsDF.groupBy('year').agg(count("*")).orderBy("year"), limitRows=100)

    year  count(1)
0   1960      1220
1   1961       974
2   1962       974
3   1963       974
4   1964       974
5   1965      1220
6   1966       974
7   1967       974
8   1968       974
9   1969       974
10  1970      1220
11  1971       974
12  1972       974
13  1973       974
14  1974       974
15  1975      1220
16  1976      1220
17  1977      1220
18  1978      1220
19  1979      1220
20  1980      1220
21  1981      1218
22  1982      1218
23  1983      1217
24  1984      1216
25  1985      1215
26  1986      1216
27  1987      1214
28  1988      1215
29  1989      1213
30  1990      1235
31  1991      1224
32  1992      1222
33  1993      1222
34  1994      1222
35  1995      1228
36  1996      1229
37  1997      1228
38  1998      1242
39  1999      1247
40  2000      1291
41  2001      1333
42  2002      1371
43  2003      1393
44  2004      1411
45  2005      1441
46  2006      1433
47  2007      1460
48  2008      1467
49  2009      1471
50  2010      1481
51  2011      1466
52  2012      1474
53  2013      1477
54  2014      1478
55  2015      1481
56  2016      1466

#### Getting yearly indicator totals

In [0]:
yearPivot = indicatorsDF.groupBy('year').pivot('indicator_code').sum('indicator_value')

In [49]:
showDF(yearPivot.orderBy('year'))

    year  IT.CEL.SETS  ...  SP.POP.65UP.TO   SP.POP.TOTL
0   1960          0.0  ...    1.419169e+09  3.072052e+10
1   1961          NaN  ...    1.451321e+09  3.113369e+10
2   1962          NaN  ...    1.483492e+09  3.168550e+10
3   1963          NaN  ...    1.517104e+09  3.237204e+10
4   1964          NaN  ...    1.549219e+09  3.306404e+10
5   1965          0.0  ...    1.581083e+09  3.377327e+10
6   1966          NaN  ...    1.634468e+09  3.452025e+10
7   1967          NaN  ...    1.687816e+09  3.526591e+10
8   1968          NaN  ...    1.741146e+09  3.602484e+10
9   1969          NaN  ...    1.795141e+09  3.682082e+10
10  1970          0.0  ...    1.848060e+09  3.762852e+10
11  1971          NaN  ...    1.912749e+09  3.845576e+10
12  1972          NaN  ...    1.975038e+09  3.927555e+10
13  1973          NaN  ...    2.035301e+09  4.009001e+10
14  1974          NaN  ...    2.095556e+09  4.090685e+10
15  1975          0.0  ...    2.155471e+09  4.170800e+10
16  1976          0.0  ...    2.227452e+09  4.249554e+10
17  1977          0.0  ...    2.299457e+09  4.327978e+10
18  1978          0.0  ...    2.369935e+09  4.407752e+10
19  1979          0.0  ...    2.435092e+09  4.489408e+10

[20 rows x 7 columns]

In [50]:
yearPivot.printSchema()

root
 |-- year: string (nullable = false)
 |-- IT.CEL.SETS: double (nullable = true)
 |-- IT.NET.BBND: double (nullable = true)
 |-- SP.POP.0014.TO: double (nullable = true)
 |-- SP.POP.1564.TO: double (nullable = true)
 |-- SP.POP.65UP.TO: double (nullable = true)
 |-- SP.POP.TOTL: double (nullable = true)

In [0]:
yearPivotDF = yearPivot.orderBy('year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population')

#### Data Quality Checkpoint

In [52]:
# You can iterate over a dataframe that is already computed by caching it once and using it repeatedly
yearPivotDF.cache()

#Forces the data to be cached
yearPivotDF.count()

57

In [53]:
yearPivotDF.filter('population_age_0_to_14 < 0').count()

0

In [54]:
yearPivotDF.filter('population_age_15_64 < 0').count()

0

In [55]:
yearPivotDF.filter('population_age_0_to_14 < 0').count()

0

In [56]:
yearPivotDF.filter('population_age_65_and_above < 0').count()

0

In [57]:
yearPivotDF.filter('population < 0').count()

0

In [58]:
yearPivotDF.filter('cellular_subscriptions < 0').count()

0

In [59]:
yearPivotDF.filter('broadband_subscriptions < 0').count()

0

In [60]:
yearPivotDF.filter('population_age_0_to_14 > population').count()

0

In [61]:
yearPivotDF.filter('population_age_15_64 > population').count()

0

In [62]:
yearPivotDF.filter('population_age_65_and_above > population').count()

0

In [63]:
yearPivotDF.filter('(population_age_0_to_14 + population_age_15_64 + population_age_65_and_above) > population').count()

0

In [0]:
#Write the yearly totals to a CSV File
yearPivotDF \
    .select(col('year')
            , col('population').cast(DecimalType(38, 2))
            , col('population_age_0_to_14').cast(DecimalType(38, 2))
            , col('population_age_15_64').cast(DecimalType(38, 2))
            , col('population_age_65_and_above').cast(DecimalType(38, 2))
            , col('broadband_subscriptions').cast(DecimalType(38, 2))
            , col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('YearlyStats', mode='overwrite', header='true')

#### Getting yearly regional totals

In [0]:
regionalIndicators = indicatorsDF.join(countryDimFinal
                                       , indicatorsDF.wb_country_code == countryDim.wb_country_code
                                       , "inner") \
    .select(countryDim.region
            , indicatorsDF.wb_country_code
            , indicatorsDF.year
            , indicatorsDF.indicator_code
            , indicatorsDF.indicator_value)

In [66]:
showDF(regionalIndicators)

   region wb_country_code  year  indicator_code  indicator_value
0    None             ARB  1960     IT.CEL.SETS              0.0
1    None             ARB  1960  SP.POP.0014.TO       40064255.0
2    None             ARB  1960  SP.POP.1564.TO       49179481.0
3    None             ARB  1960  SP.POP.65UP.TO        3247196.0
4    None             ARB  1960     SP.POP.TOTL       92490932.0
5    None             CSS  1960     IT.CEL.SETS              0.0
6    None             CSS  1960  SP.POP.0014.TO        1766884.0
7    None             CSS  1960  SP.POP.1564.TO        2151060.0
8    None             CSS  1960  SP.POP.65UP.TO         169157.0
9    None             CSS  1960     SP.POP.TOTL        4198307.0
10   None             CEB  1960     IT.CEL.SETS              0.0
11   None             CEB  1960  SP.POP.0014.TO       26671149.0
12   None             CEB  1960  SP.POP.1564.TO       58135954.0
13   None             CEB  1960  SP.POP.65UP.TO        6594481.0
14   None             CEB  1960     SP.POP.TOTL       91401583.0
15   None             EAR  1960     IT.CEL.SETS              0.0
16   None             EAR  1960  SP.POP.0014.TO      403027249.0
17   None             EAR  1960  SP.POP.1564.TO      543753940.0
18   None             EAR  1960  SP.POP.65UP.TO       32506217.0
19   None             EAR  1960     SP.POP.TOTL      979287407.0

In [0]:
regionalPivot = regionalIndicators.groupBy('region', 'year').pivot('indicator_code').sum('indicator_value')

In [68]:
showDF(regionalPivot.orderBy('region', 'year'), limitRows=100)

                 region  year  ...  SP.POP.65UP.TO   SP.POP.TOTL
0                  None  1960  ...    1.270274e+09  2.772620e+10
1                  None  1961  ...    1.299015e+09  2.809895e+10
2                  None  1962  ...    1.327810e+09  2.859841e+10
3                  None  1963  ...    1.357916e+09  2.922045e+10
4                  None  1964  ...    1.386660e+09  2.984755e+10
5                  None  1965  ...    1.415175e+09  3.049045e+10
6                  None  1966  ...    1.463169e+09  3.116795e+10
7                  None  1967  ...    1.511139e+09  3.184446e+10
8                  None  1968  ...    1.559115e+09  3.253346e+10
9                  None  1969  ...    1.607638e+09  3.325536e+10
10                 None  1970  ...    1.655206e+09  3.398822e+10
11                 None  1971  ...    1.713359e+09  3.473858e+10
12                 None  1972  ...    1.769368e+09  3.548225e+10
13                 None  1973  ...    1.823579e+09  3.622150e+10
14                 None  1974  ...    1.877739e+09  3.696246e+10
15                 None  1975  ...    1.931593e+09  3.768949e+10
16                 None  1976  ...    1.996356e+09  3.840491e+10
17                 None  1977  ...    2.061099e+09  3.911727e+10
18                 None  1978  ...    2.124448e+09  3.984191e+10
19                 None  1979  ...    2.183012e+09  4.058354e+10
20                 None  1980  ...    2.234548e+09  4.133457e+10
21                 None  1981  ...    2.289441e+09  4.210536e+10
22                 None  1982  ...    2.336312e+09  4.290702e+10
23                 None  1983  ...    2.378442e+09  4.371806e+10
24                 None  1984  ...    2.421065e+09  4.452835e+10
25                 None  1985  ...    2.468335e+09  4.535450e+10
26                 None  1986  ...    2.529412e+09  4.620501e+10
27                 None  1987  ...    2.593288e+09  4.707746e+10
28                 None  1988  ...    2.659850e+09  4.795944e+10
29                 None  1989  ...    2.729181e+09  4.884193e+10
30                 None  1990  ...    2.801850e+09  4.973563e+10
31                 None  1991  ...    2.884735e+09  5.059958e+10
32                 None  1992  ...    2.971086e+09  5.144385e+10
33                 None  1993  ...    3.058809e+09  5.229041e+10
34                 None  1994  ...    3.143700e+09  5.312697e+10
35                 None  1995  ...    3.225200e+09  5.396619e+10
36                 None  1996  ...    3.321436e+09  5.479144e+10
37                 None  1997  ...    3.410447e+09  5.561804e+10
38                 None  1998  ...    3.495128e+09  5.643476e+10
39                 None  1999  ...    3.580861e+09  5.724252e+10
40                 None  2000  ...    3.669437e+09  5.804240e+10
41                 None  2001  ...    3.771371e+09  5.884124e+10
42                 None  2002  ...    3.874756e+09  5.963732e+10
43                 None  2003  ...    3.977538e+09  6.043808e+10
44                 None  2004  ...    4.073891e+09  6.124421e+10
45                 None  2005  ...    4.161611e+09  6.205643e+10
46                 None  2006  ...    4.256778e+09  6.287409e+10
47                 None  2007  ...    4.345034e+09  6.369668e+10
48                 None  2008  ...    4.431800e+09  6.453143e+10
49                 None  2009  ...    4.523231e+09  6.537427e+10
50                 None  2010  ...    4.623745e+09  6.622252e+10
51                 None  2011  ...    4.740515e+09  6.706828e+10
52                 None  2012  ...    4.865635e+09  6.793559e+10
53                 None  2013  ...    5.001284e+09  6.881501e+10
54                 None  2014  ...    5.152544e+09  6.970143e+10
55                 None  2015  ...    5.322814e+09  7.058997e+10
56                 None  2016  ...    5.520961e+09  7.148507e+10
57  East Asia & Pacific  1960  ...    4.009996e+07  1.029333e+09
58  East Asia & Pacific  1961  ...    4.052241e+07  1.032525e+09
59  East Asia & Pacific  1962  ...    4.090652e+07  1.046593e+09
60  East Asia & Pacific  1963  ...    4.142506e+07  1.071955e+09
61  East Asia & Pacific  1964  ...    4.182021e+07  1.096951e+09
62  East Asia & Pacific  1965  ...    4.221279e+07  1.123001e+09
63  East Asia & Pacific  1966  ...    4.396782e+07  1.152479e+09
64  East Asia & Pacific  1967  ...    4.576509e+07  1.181000e+09
65  East Asia & Pacific  1968  ...    4.758187e+07  1.209920e+09
66  East Asia & Pacific  1969  ...    4.951662e+07  1.242337e+09
67  East Asia & Pacific  1970  ...    5.134007e+07  1.274749e+09
68  East Asia & Pacific  1971  ...    5.352987e+07  1.308108e+09
69  East Asia & Pacific  1972  ...    5.561427e+07  1.339653e+09
70  East Asia & Pacific  1973  ...    5.761212e+07  1.369626e+09
71  East Asia & Pacific  1974  ...    5.971466e+07  1.399421e+09
72  East Asia & Pacific  1975  ...    6.179528e+07  1.426241e+09
73  East Asia & Pacific  1976  ...    6.431159e+07  1.450137e+09
74  East Asia & Pacific  1977  ...    6.686961e+07  1.472702e+09
75  East Asia & Pacific  1978  ...    6.949443e+07  1.495186e+09
76  East Asia & Pacific  1979  ...    7.215549e+07  1.518085e+09
77  East Asia & Pacific  1980  ...    7.477354e+07  1.540538e+09
78  East Asia & Pacific  1981  ...    7.783798e+07  1.563837e+09
79  East Asia & Pacific  1982  ...    8.085994e+07  1.589435e+09
80  East Asia & Pacific  1983  ...    8.376825e+07  1.615033e+09
81  East Asia & Pacific  1984  ...    8.652520e+07  1.639382e+09
82  East Asia & Pacific  1985  ...    8.923951e+07  1.664314e+09
83  East Asia & Pacific  1986  ...    9.201363e+07  1.690815e+09
84  East Asia & Pacific  1987  ...    9.474759e+07  1.718713e+09
85  East Asia & Pacific  1988  ...    9.747580e+07  1.746868e+09
86  East Asia & Pacific  1989  ...    1.003002e+08  1.774403e+09
87  East Asia & Pacific  1990  ...    1.033325e+08  1.801239e+09
88  East Asia & Pacific  1991  ...    1.064786e+08  1.827076e+09
89  East Asia & Pacific  1992  ...    1.098667e+08  1.851191e+09
90  East Asia & Pacific  1993  ...    1.134781e+08  1.874458e+09
91  East Asia & Pacific  1994  ...    1.172476e+08  1.897745e+09
92  East Asia & Pacific  1995  ...    1.210980e+08  1.920651e+09
93  East Asia & Pacific  1996  ...    1.257523e+08  1.943194e+09
94  East Asia & Pacific  1997  ...    1.301948e+08  1.965166e+09
95  East Asia & Pacific  1998  ...    1.345291e+08  1.986304e+09
96  East Asia & Pacific  1999  ...    1.388495e+08  2.006085e+09
97  East Asia & Pacific  2000  ...    1.432389e+08  2.024966e+09
98  East Asia & Pacific  2001  ...    1.477788e+08  2.043181e+09
99  East Asia & Pacific  2002  ...    1.522803e+08  2.060490e+09

[100 rows x 8 columns]

In [0]:
#Write the regional-yearly totals to a CSV File
regionalPivot.filter('region is not null') \
    .orderBy('region','year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population') \
    .select(col('region')
            , col('year')
            , col('population').cast(DecimalType(38, 2))
            , col('population_age_0_to_14').cast(DecimalType(38, 2))
            , col('population_age_15_64').cast(DecimalType(38, 2))
            , col('population_age_65_and_above').cast(DecimalType(38, 2))
            , col('broadband_subscriptions').cast(DecimalType(38, 2))
            , col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('RegionalStats', mode='overwrite', header='true')

## Short Exercise

Becky finds the regional metrics interesting, but she wants to look at these metrics at a country level for each year.  Can you adapt the regional pivot that we computed earlier to get the metrics for each year and country ?

In [70]:
countryIndicators = indicatorsDF.join(countryDimFinal
                                       , indicatorsDF.wb_country_code == countryDim.wb_country_code
                                       , "inner") \
    .select(indicatorsDF.wb_country_code
            , countryDim.country_iso_code
            , countryDim.country_name
            , indicatorsDF.year
            , indicatorsDF.indicator_code
            , indicatorsDF.indicator_value)

showDF(countryIndicators)

   wb_country_code country_iso_code  ...  indicator_code indicator_value
0              ARB               1A  ...     IT.CEL.SETS             0.0
1              ARB               1A  ...  SP.POP.0014.TO      40064255.0
2              ARB               1A  ...  SP.POP.1564.TO      49179481.0
3              ARB               1A  ...  SP.POP.65UP.TO       3247196.0
4              ARB               1A  ...     SP.POP.TOTL      92490932.0
5              CSS               S3  ...     IT.CEL.SETS             0.0
6              CSS               S3  ...  SP.POP.0014.TO       1766884.0
7              CSS               S3  ...  SP.POP.1564.TO       2151060.0
8              CSS               S3  ...  SP.POP.65UP.TO        169157.0
9              CSS               S3  ...     SP.POP.TOTL       4198307.0
10             CEB               B8  ...     IT.CEL.SETS             0.0
11             CEB               B8  ...  SP.POP.0014.TO      26671149.0
12             CEB               B8  ...  SP.POP.1564.TO      58135954.0
13             CEB               B8  ...  SP.POP.65UP.TO       6594481.0
14             CEB               B8  ...     SP.POP.TOTL      91401583.0
15             EAR               V2  ...     IT.CEL.SETS             0.0
16             EAR               V2  ...  SP.POP.0014.TO     403027249.0
17             EAR               V2  ...  SP.POP.1564.TO     543753940.0
18             EAR               V2  ...  SP.POP.65UP.TO      32506217.0
19             EAR               V2  ...     SP.POP.TOTL     979287407.0

[20 rows x 6 columns]

In [0]:
countryPivot = countryIndicators.groupBy('country_iso_code', 'country_name', 'year') \
    .pivot('indicator_code').sum('indicator_value')

In [72]:
showDF(countryPivot.orderBy('country_iso_code', 'country_name', 'year'), limitRows=100)

   country_iso_code country_name  ... SP.POP.65UP.TO   SP.POP.TOTL
0                1A   Arab World  ...      3247196.0  9.249093e+07
1                1A   Arab World  ...      3367766.0  9.504450e+07
2                1A   Arab World  ...      3486797.0  9.768229e+07
3                1A   Arab World  ...      3604069.0  1.004111e+08
4                1A   Arab World  ...      3719175.0  1.032399e+08
5                1A   Arab World  ...      3831873.0  1.061750e+08
6                1A   Arab World  ...      3962869.0  1.092306e+08
7                1A   Arab World  ...      4090982.0  1.124069e+08
8                1A   Arab World  ...      4217070.0  1.156802e+08
9                1A   Arab World  ...      4342025.0  1.190165e+08
10               1A   Arab World  ...      4466853.0  1.223984e+08
11               1A   Arab World  ...      4610399.0  1.258074e+08
12               1A   Arab World  ...      4752855.0  1.292694e+08
13               1A   Arab World  ...      4894204.0  1.328634e+08
14               1A   Arab World  ...      5033836.0  1.366968e+08
15               1A   Arab World  ...      5172324.0  1.408433e+08
16               1A   Arab World  ...      5330216.0  1.453324e+08
17               1A   Arab World  ...      5486119.0  1.501331e+08
18               1A   Arab World  ...      5641553.0  1.551837e+08
19               1A   Arab World  ...      5798500.0  1.603925e+08
20               1A   Arab World  ...      5958437.0  1.656895e+08
21               1A   Arab World  ...      6138090.0  1.710520e+08
22               1A   Arab World  ...      6317099.0  1.764901e+08
23               1A   Arab World  ...      6497341.0  1.820058e+08
24               1A   Arab World  ...      6681024.0  1.876108e+08
25               1A   Arab World  ...      6870949.0  1.933103e+08
26               1A   Arab World  ...      7088973.0  1.990938e+08
27               1A   Arab World  ...      7312611.0  2.049425e+08
28               1A   Arab World  ...      7546043.0  2.108448e+08
29               1A   Arab World  ...      7794333.0  2.167874e+08
30               1A   Arab World  ...      8102913.0  2.247354e+08
31               1A   Arab World  ...      8416628.0  2.308299e+08
32               1A   Arab World  ...      8714650.0  2.350372e+08
33               1A   Arab World  ...      9051724.0  2.412861e+08
34               1A   Arab World  ...      9393890.0  2.474359e+08
35               1A   Arab World  ...      9760798.0  2.550297e+08
36               1A   Arab World  ...     10109142.0  2.608435e+08
37               1A   Arab World  ...     10448950.0  2.665751e+08
38               1A   Arab World  ...     10782338.0  2.722351e+08
39               1A   Arab World  ...     11113418.0  2.779629e+08
40               1A   Arab World  ...     11444991.0  2.838320e+08
41               1A   Arab World  ...     11773908.0  2.898504e+08
42               1A   Arab World  ...     12098319.0  2.960266e+08
43               1A   Arab World  ...     12420321.0  3.024345e+08
44               1A   Arab World  ...     12739734.0  3.091620e+08
45               1A   Arab World  ...     13059222.0  3.162647e+08
46               1A   Arab World  ...     13394950.0  3.237733e+08
47               1A   Arab World  ...     13729073.0  3.316538e+08
48               1A   Arab World  ...     14071128.0  3.398255e+08
49               1A   Arab World  ...     14430466.0  3.481451e+08
50               1A   Arab World  ...     14815536.0  3.565089e+08
51               1A   Arab World  ...     15244333.0  3.648959e+08
52               1A   Arab World  ...     15682048.0  3.733070e+08
53               1A   Arab World  ...     16142610.0  3.817021e+08
54               1A   Arab World  ...     16650644.0  3.900430e+08
55               1A   Arab World  ...     17224683.0  3.983050e+08
56               1A   Arab World  ...     17878929.0  4.064527e+08
57               1W        World  ...    150749405.0  3.032160e+09
58               1W        World  ...    154231892.0  3.073369e+09
59               1W        World  ...    157681124.0  3.126510e+09
60               1W        World  ...    161260606.0  3.191786e+09
61               1W        World  ...    164708368.0  3.257460e+09
62               1W        World  ...    168136041.0  3.324545e+09
63               1W        World  ...    173613357.0  3.394784e+09
64               1W        World  ...    179076960.0  3.464689e+09
65               1W        World  ...    184516924.0  3.535355e+09
66               1W        World  ...    190076705.0  3.610179e+09
67               1W        World  ...    195515331.0  3.685753e+09
68               1W        World  ...    202158420.0  3.763393e+09
69               1W        World  ...    208543257.0  3.840270e+09
70               1W        World  ...    214696035.0  3.916244e+09
71               1W        World  ...    220888090.0  3.992871e+09
72               1W        World  ...    227041364.0  4.067741e+09
73               1W        World  ...    234378544.0  4.140647e+09
74               1W        World  ...    241756405.0  4.213305e+09
75               1W        World  ...    248997464.0  4.287156e+09
76               1W        World  ...    255700774.0  4.362864e+09
77               1W        World  ...    261568336.0  4.439338e+09
78               1W        World  ...    267696039.0  4.517803e+09
79               1W        World  ...    272845154.0  4.599182e+09
80               1W        World  ...    277440764.0  4.681262e+09
81               1W        World  ...    282146777.0  4.763043e+09
82               1W        World  ...    287474044.0  4.846338e+09
83               1W        World  ...    294367159.0  4.932114e+09
84               1W        World  ...    301656174.0  5.020001e+09
85               1W        World  ...    309298027.0  5.108813e+09
86               1W        World  ...    317245260.0  5.197758e+09
87               1W        World  ...    325519557.0  5.288103e+09
88               1W        World  ...    334864581.0  5.375489e+09
89               1W        World  ...    344488002.0  5.459754e+09
90               1W        World  ...    354188311.0  5.544873e+09
91               1W        World  ...    363562162.0  5.628791e+09
92               1W        World  ...    372596115.0  5.713794e+09
93               1W        World  ...    383143339.0  5.796632e+09
94               1W        World  ...    392927865.0  5.879434e+09
95               1W        World  ...    402269244.0  5.961166e+09
96               1W        World  ...    411724917.0  6.041819e+09
97               1W        World  ...    421520902.0  6.121683e+09
98               1W        World  ...    432758972.0  6.201341e+09
99               1W        World  ...    444160765.0  6.280532e+09

[100 rows x 9 columns]

In [0]:
#Write the regional-yearly totals to a CSV File
countryPivot.filter('country_iso_code is not null') \
    .orderBy('country_iso_code','country_name', 'year') \
    .withColumnRenamed('IT.CEL.SETS', 'cellular_subscriptions') \
    .withColumnRenamed('IT.NET.BBND', 'broadband_subscriptions') \
    .withColumnRenamed('SP.POP.0014.TO', 'population_age_0_to_14') \
    .withColumnRenamed('SP.POP.1564.TO', 'population_age_15_64') \
    .withColumnRenamed('SP.POP.65UP.TO', 'population_age_65_and_above') \
    .withColumnRenamed('SP.POP.TOTL', 'population') \
    .select(col('country_iso_code')
            , col('country_name')
            , col('year')
            , col('population').cast(DecimalType(38, 2))
            , col('population_age_0_to_14').cast(DecimalType(38, 2))
            , col('population_age_15_64').cast(DecimalType(38, 2))
            , col('population_age_65_and_above').cast(DecimalType(38, 2))
            , col('broadband_subscriptions').cast(DecimalType(38, 2))
            , col('cellular_subscriptions').cast(DecimalType(38, 2))) \
    .coalesce(1) \
    .write.csv('CountryStats', mode='overwrite', header='true')

## Exercise

Kat wants to identify the countries that are conducive to start a business.  She thinks that it would suffice to look at the most recent metrics for the following:
- Gross National Income (GNI)
- Cost of business start-up procedures
- Number of days required to start a business (male, female, and overall)
- Number of start-up procedures to register a business
- GDP
- GDP per capita
- Business Regulatory Environment
- Ease of doing business index (Only available in 2017)

Write the data to a csv file called 'BusinessStartupData'.

In [74]:
#Hint - Start by matching up indicators that might have descriptions matching what Kat is looking for. E.g.:
showDF(seriesDim.filter("indicator_name = 'GNI'" +
                        " or lower(indicator_name) like '%business%'" +
                        " or indicator_name like '%GDP per capita%'"
                        " or indicator_name='GDP'").orderBy("indicator_code"), limitRows = 500)

          indicator_code  ...  aggregation_method
0         IC.BUS.DISC.XQ  ...  Unweighted average
1         IC.BUS.EASE.XQ  ...                None
2         IC.BUS.NDNS.ZS  ...  Unweighted average
3            IC.BUS.NREG  ...                None
4   IC.REG.COST.PC.FE.ZS  ...  Unweighted average
5   IC.REG.COST.PC.MA.ZS  ...  Unweighted average
6      IC.REG.COST.PC.ZS  ...  Unweighted average
7            IC.REG.DURS  ...  Unweighted average
8         IC.REG.DURS.FE  ...  Unweighted average
9         IC.REG.DURS.MA  ...  Unweighted average
10           IC.REG.PROC  ...  Unweighted average
11        IC.REG.PROC.FE  ...  Unweighted average
12        IC.REG.PROC.MA  ...  Unweighted average
13     IC.TAX.OTHR.CP.ZS  ...  Unweighted average
14        IQ.CPA.BREG.XQ  ...  Unweighted average
15        NY.GDP.PCAP.CD  ...    Weighted Average
16        NY.GDP.PCAP.CN  ...                None
17        NY.GDP.PCAP.KD  ...    Weighted Average
18     NY.GDP.PCAP.KD.ZG  ...    Weighted Average
19        NY.GDP.PCAP.KN  ...                None
20     NY.GDP.PCAP.PP.CD  ...    Weighted Average
21     NY.GDP.PCAP.PP.KD  ...    Weighted Average
22     SE.XPD.PRIM.PC.ZS  ...              Median
23     SE.XPD.SECO.PC.ZS  ...              Median
24     SE.XPD.TERT.PC.ZS  ...              Median

[25 rows x 5 columns]

In [75]:
recentIndicators = indicatorsData \
    .select("wb_country_code", "indicator_code", "2016") \
    .filter(col('indicator_code').isin('IC.REG.COST.PC.ZS', 'IC.REG.DURS', 'IC.REG.DURS.FE', 'IC.REG.DURS.MA', \
        'IC.REG.PROC', 'NY.GNP.ATLS.CD', 'NY.GDP.MKTP.KD', 'NY.GDP.PCAP.KD', 'IQ.CPA.BREG.XQ', 'IC.BUS.EASE.XQ')) \
    .withColumnRenamed("2016", "indicator_value") \
    .withColumn("indicator_value", col("indicator_value").cast(DecimalType(38, 2)))

showDF(recentIndicators)

   wb_country_code     indicator_code   indicator_value
0              ARB  IC.REG.COST.PC.ZS             36.47
1              ARB     IQ.CPA.BREG.XQ              2.80
2              ARB     IC.BUS.EASE.XQ              None
3              ARB     NY.GDP.MKTP.KD  2616760000000.00
4              ARB     NY.GDP.PCAP.KD           6438.05
5              ARB     NY.GNP.ATLS.CD  2676040000000.00
6              ARB        IC.REG.PROC              8.32
7              ARB        IC.REG.DURS             23.17
8              ARB     IC.REG.DURS.FE             23.55
9              ARB     IC.REG.DURS.MA             22.91
10             CSS  IC.REG.COST.PC.ZS             19.90
11             CSS     IQ.CPA.BREG.XQ              3.90
12             CSS     IC.BUS.EASE.XQ              None
13             CSS     NY.GDP.MKTP.KD    63309462669.00
14             CSS     NY.GDP.PCAP.KD           8737.80
15             CSS     NY.GNP.ATLS.CD    64962563817.00
16             CSS        IC.REG.PROC              7.15
17             CSS        IC.REG.DURS             22.38
18             CSS     IC.REG.DURS.FE             22.42
19             CSS     IC.REG.DURS.MA             22.35

In [0]:
businessIndexIndicators = indicatorsData \
    .select("wb_country_code", "indicator_code", "2017") \
    .filter(col('indicator_code').isin('IC.BUS.EASE.XQ')) \
    .withColumnRenamed("2017", "indicator_value") \
    .withColumn("indicator_value", col("indicator_value").cast(DecimalType(38, 2)))

In [0]:
allIndicators = recentIndicators.union(businessIndexIndicators)

In [0]:
countryBusinessStartupPivot = allIndicators.join(countryDimFinal
                                       , recentIndicators.wb_country_code == countryDim.wb_country_code
                                       , "inner") \
    .select(countryDimFinal.country_iso_code
            , countryDimFinal.country_name
            , recentIndicators.indicator_code
            , recentIndicators.indicator_value) \
    .groupBy('country_iso_code', 'country_name').pivot('indicator_code').sum('indicator_value') \
    .withColumnRenamed('country_iso_code', 'Country ISO Code') \
    .withColumnRenamed('country_name', 'Country Name') \
    .withColumnRenamed('NY.GNP.ATLS.CD', 'GNI') \
    .withColumnRenamed('IC.REG.DURS', 'Startup Time') \
    .withColumnRenamed('IC.REG.DURS.FE', 'Startup Time Female') \
    .withColumnRenamed('IC.REG.DURS.MA', 'Startup Time Male') \
    .withColumnRenamed('IC.REG.PROC', 'Startup Procedures') \
    .withColumnRenamed('IC.REG.COST.PC.ZS', 'Startup Cost Pct of GNI') \
    .withColumnRenamed('NY.GDP.MKTP.KD', 'GDP') \
    .withColumnRenamed('NY.GDP.PCAP.KD', 'GDP Per Capita') \
    .withColumnRenamed('IQ.CPA.BREG.XQ', 'Business Regulation') \
    .withColumnRenamed('IC.BUS.EASE.XQ', 'Ease of Business') \
    .withColumn('Startup Cost', (col('GNI') * col('Startup Cost Pct of GNI') / lit(100.0)).cast(DecimalType(38, 2))) \
    .filter(col('GNI') > 0) \
    .filter(col('Startup Time').isNotNull()) \
    .filter(col('Startup Procedures').isNotNull()) \
    .filter(col('Startup Cost').isNotNull())

In [79]:
showDF(countryBusinessStartupPivot, limitRows = 50)

   Country ISO Code  ...      Startup Cost
0                BJ  ...      339677421.76
1                XC  ...   471572580000.00
2                JM  ...      574029968.11
3                KZ  ...      470436000.00
4                NO  ...     3863484000.00
5                IR  ...     5266428000.00
6                AG  ...      128727412.92
7                CG  ...     5367244011.66
8                AR  ...    56697192000.00
9                HT  ...    18614799189.13
10               EU  ...   663011600000.00
11               XE  ...   365242980300.00
12               BB  ...      333877259.25
13               LT  ...      254581417.76
14               SL  ...     1103802968.97
15               PK  ...    36137625000.00
16               SK  ...     1108348729.92
17               CN  ...    79619400000.00
18               T2  ...  1695610596000.00
19               SN  ...     9184747486.40
20               MY  ...    19059296000.00
21               BO  ...    17897952749.08
22               SA  ...    42069240000.00
23               IL  ...    10222872000.00
24               V4  ...  1767034260000.00
25               MT  ...     1301327613.29
26               CL  ...     7760192000.00
27               XN  ...  1641527058000.00
28               ZF  ...   868563900000.00
29               JP  ...   361918500000.00
30               DZ  ...    19023069000.00
31               T5  ...   388092100000.00
32               KN  ...       61926526.04
33               VC  ...      119588943.85
34               TD  ...    16566318880.13
35               ZT  ...  9499914620000.00
36               LR  ...      287282764.02
37               7E  ...   153196182000.00
38               ML  ...     8438246642.37
39               SV  ...    10287640709.32
40               KG  ...      147716275.21
41               HU  ...     8758986000.00
42               TJ  ...     1623170979.86
43               XO  ...  9703257280000.00
44               NE  ...     2488249409.47
45               MD  ...      465820467.70
46               TR  ...   157163600000.00
47               AM  ...       99297802.40
48               XD  ...  2282703600000.00
49               LU  ...      708345102.42

[50 rows x 13 columns]

In [0]:
countryBusinessStartupPivot \
    .select("Country ISO Code", "Country Name", "GDP", "GDP Per Capita", "GNI", \
            "Startup Cost", "Startup Cost Pct of GNI", "Startup Time", "Startup Procedures", \
            "Business Regulation", "Ease of business") \
    .coalesce(1) \
    .write.csv('BusinessStartupData', mode='overwrite', header='true')

# Modeling

Let's use Spark to do some modeling!

In [0]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression

Let's take the dataset you created in the previous exercise and predict 'Ease of Business' using other indicators.

In [89]:
#Input all the features in one vector column
features = ["GDP", "GDP Per Capita", "GNI", "Startup Time",
            "Startup Cost", "Startup Cost Pct of GNI", "Startup Procedures", "Business Regulation"]

# Vector Assembler combines raw features and features generated by different feature transformers 
# into the single feature vector needed to train ML models.
assembler = VectorAssembler(inputCols=features, outputCol = 'Attributes')

output = assembler.setHandleInvalid("skip").transform(countryBusinessStartupPivot.filter(col('Ease of Business').isNotNull()))

#'Attributes' are the input features and 'Ease of Business' is the target column.
finalized_data = output.select("Attributes", "Ease of Business")

finalized_data.show()

+--------------------+----------------+
|          Attributes|Ease of Business|
+--------------------+----------------+
|[9.103831278E9,83...|          151.00|
|[1.4342385958E10,...|          179.00|
|[7.91061837E9,729...|          181.00|
|[3.369621899E9,45...|          160.00|
|[2.27748E11,1178....|          147.00|
|[1.6833353304E10,...|          140.00|
|[7.32044136E8,667...|          129.00|
|[1.2424107945E10,...|          180.00|
|[1.627046588E9,35...|          172.00|
|[1.3421822111E10,...|          143.00|
|[6.315715818E9,10...|           77.00|
|[8.458800788E9,96...|          123.00|
|[8.085878853E9,39...|          144.00|
|[7.326645709E9,20...|           44.00|
|[4.062377053E8,37...|           89.00|
|[1.4858345267E10,...|          138.00|
|[1.084315801E9,53...|          146.00|
|[1.790417939E8,33...|          149.00|
|[1.928690844E8,16...|          157.00|
|[3.0547324905E10,...|          182.00|
+--------------------+----------------+
only showing top 20 rows

In [91]:
#Split training and testing data
train_data,test_data = finalized_data.randomSplit([0.8,0.2])

regressor = LinearRegression(featuresCol = 'Attributes', labelCol = 'Ease of Business')

#Learn to fit the model from training set
regressor = regressor.fit(train_data)

#To predict the prices on testing set
pred = regressor.evaluate(test_data)

#Predict the model
pred.predictions.show()

+--------------------+----------------+------------------+
|          Attributes|Ease of Business|        prediction|
+--------------------+----------------+------------------+
|[1.6833353304E10,...|          140.00| 121.2723619115442|
|[8.085878853E9,39...|          144.00|113.02867824748559|
|[1.928690844E8,16...|          157.00|152.27471530136742|
|[7.38041747E8,378...|           87.00| 113.8654191546719|
|[1.035620086E10,4...|          162.00|140.91541281804916|
|[1.9856634053E10,...|          105.00|118.24913879612849|
|[8.867464234E8,14...|          116.00| 140.6478735145592|
|[2.1413614655E10,...|          183.00|146.91456643648525|
|[1.67771E11,1029....|          177.00|147.25354925521165|
|[5.060218541E8,68...|           98.00|100.12359132745794|
|[7.6149479922E10,...|          170.00|148.91975047555985|
|[1.1102149875E10,...|          141.00| 99.22452006961993|
|[2.234759342E9,28...|           75.00|120.16114635444366|
|[1.192299136E9,93...|          178.00|167.72587930932013|
|[1.1825367387E10,...|           62.00|115.92104965646254|
+--------------------+----------------+------------------+

In [92]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

summary = pd.DataFrame({'feature': ['Intercept'] + features,
                        'coefficient': [regressor.intercept] + regressor.coefficients.tolist(),
                        'pvalue': regressor.summary.pValues})
summary

                   feature  coefficient  pvalue
0                Intercept    235.93695 0.49581
1                      GDP     -0.00000 0.65339
2           GDP Per Capita      0.00098 0.62237
3                      GNI      0.00000 0.12556
4             Startup Time     -0.37788 0.25113
5             Startup Cost      0.00000 0.39788
6  Startup Cost Pct of GNI      0.10033 0.17010
7       Startup Procedures      2.56238 0.00007
8      Business Regulation    -38.09088 0.00000

In [93]:
from pyspark.ml.evaluation import RegressionEvaluator
eval = RegressionEvaluator(labelCol="Ease of Business", predictionCol="prediction", metricName="rmse")

# Root Mean Square Error
rmse = eval.evaluate(pred.predictions)
print("RMSE: %.3f" % rmse)

# Mean Square Error
mse = eval.evaluate(pred.predictions, {eval.metricName: "mse"})
print("MSE: %.3f" % mse)

# Mean Absolute Error
mae = eval.evaluate(pred.predictions, {eval.metricName: "mae"})
print("MAE: %.3f" % mae)

# r2 - coefficient of determination
r2 = eval.evaluate(pred.predictions, {eval.metricName: "r2"})
print("r2: %.3f" %r2)

RMSE: 29.115
MSE: 847.686
MAE: 25.363
r2: 0.430